{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app_title }}</title>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-4.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container"><br/>
    <h1>Search</h1>
    <form method="POST" action="/query">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input name="query" type="text" class="form-control" placeholder="Query"
                   aria-label="Query"
                   aria-describedby="button-search"
                   required
                   value="{{ q }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
            </div>
        </div>
    </form>
    <div class="row">
        {% if query %}
            <div class="col-md-8">
                <h4>Results - {{ query.result_count | intcomma }}</h4>
                <ul class="list-group list-group-flush">
                    {% for page in query.get_ordered_pages %}
                        <a href="{{ page.url }}" class="list-group-item list-group-item-action">
                            <h5><b>{{ page.nr }} </b>{{ page.title }}</h5>
                            <p class="mb-1">{{ page.destription }}</p>
                        </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Statistics</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Word</th>
                        <th scope="col">Count</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for word, count in query.get_stats %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ word }}</td>
                            <td>{{ count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
</body>
</html>
